<section>
  <h2>Our Team</h2>
  <ul>
    <li>
      <img src="./images/mark-guerrero.jpg" alt="Mark Guerrero" width="264" />
      <h3>Mark Guerrero</h3>
      <p>Product Designer</p>
    </li>
    <li>
      <img src="./images/tom-ford.jpg" alt="Tom Ford" width="264" />
      <h3>Tom Ford</h3>
      <p>Frontend Developer</p>
    </li>
    <li>
      <img src="./images/camila-garcia.jpg" alt="Camila Garcia" width="264" />
      <h3>Camila Garcia</h3>
      <p>Marketing</p>
    </li>
    <li>
      <img src="./images/daniel-wilson.jpg" alt="Daniel Wilson" width="264" />
      <h3>Daniel Wilson</h3>
      <p>UI Designer</p>
    </li>
  </ul>
</section>
